In [2]:
from sklearn import tree
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
from sklearn.model_selection import train_test_split

In [9]:
train_data = pd.read_csv('dogs_n_cats.csv')
train_data

     Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0       15    18.0         1        1                   0  собачка
1       20    24.0         1        0                   0  собачка
2       34    40.8         1        1                   0  собачка
3       26    31.2         1        1                   0  собачка
4       16    19.2         1        1                   0  собачка
..     ...     ...       ...      ...                 ...      ...
995      8     3.2         1        0                   1    котик
996      7     2.8         1        0                   1    котик
997      6     2.4         1        0                   1    котик
998      7     2.8         1        0                   1    котик
999     11     4.4         1        0                   1    котик

[1000 rows x 6 columns]

In [12]:
X = train_data.drop(['Вид'], axis = 1)
Y = train_data['Вид']

In [15]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.33, random_state = 42)

In [32]:
data_train_test = pd.DataFrame()
score_data = pd.DataFrame()

In [45]:
max_depth_values = range(1, 100)

In [46]:
rs = np.random.seed(0)

In [47]:
from sklearn.model_selection import cross_val_score

In [48]:
for best_depth in max_depth_values:
    clfier = tree.DecisionTreeClassifier(criterion = 'entropy', max_depth = best_depth)
    clfier.fit(X_train, Y_train)
    train_score = clfier.score(X_train, Y_train)
    test_score = clfier.score(X_test, Y_test)
    
    mean_cross_val_score = cross_val_score(clfier, X_train, Y_train, cv = 5).mean()#проводим кросс валидацию путем деления на пять групп
    
    scores_data = pd.DataFrame({'max_depth': [best_depth],
                                'train_score' : [train_score], 
                                'test_score': [test_score],
                                 'mean_cross_val_score' :[mean_cross_val_score]})
    data_train_test = data_train_test.append(scores_data) #алгоритм поиска оптимальной глубины дерева

In [40]:
data_train_test.head(10)

   max_depth  train_score  test_score  mean_cross_val_score
0          1          1.0         1.0                   1.0
0        100          1.0         1.0                   1.0
0          1          1.0         1.0                   1.0
0          1          1.0         1.0                   1.0
0          2          1.0         1.0                   1.0
0          3          1.0         1.0                   1.0
0          4          1.0         1.0                   1.0
0          5          1.0         1.0                   1.0
0          6          1.0         1.0                   1.0
0          7          1.0         1.0                   1.0

In [49]:
clf = tree.DecisionTreeClassifier(criterion = 'entropy', max_depth = 4)

In [50]:
clf.fit(X_train, Y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=4)

In [51]:
clf.score(X_train, Y_train)

1.0

In [54]:
df = pd.read_json('dataset_209691_15.txt')
df

    Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0      34    40.8         0        1                   0
1      30    36.0         1        1                   0
2      31    37.2         1        1                   0
3      22    26.4         1        1                   0
4      32    38.4         1        1                   0
..    ...     ...       ...      ...                 ...
95     10     4.0         1        0                   1
96     12     4.8         1        0                   1
97      6     2.4         0        0                   1
98     10     4.0         1        0                   1
99     11     4.4         1        0                   0

[100 rows x 5 columns]

In [55]:


result = clf.predict(df)

pd.Series(result)[result == 'собачка'].count()

58